@import "./style/common.scss";
@import "./style/mobile.scss";
@import "./font/iconfont.css";
@import "./style/login.scss";
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  background: url(./img/home_bg.png) no-repeat;
}
#root {
  position: relative;
  z-index: 1;
}
